.AboutUs {
  img {
    width: 100%;
    height: auto;
  }
  .text {
    font-size: large;
    font-family: Inter;
    line-height: 1.6;
    max-width: max-content;
    text-align: center;
    background-image: url("https://cdn.pnj.io/images/image-update/2020/key_points/cuahangbanner.jpg");
    background-repeat: no-repeat;
    color: white;
    font-weight: 300;
    padding: 100px;
  }

  .text-2 {
    margin-top: 20px;
  }
  .map {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
